
G5_Lab4/\.vscode/ipch/74ba51b3c38d1476/main\.ipch

G5_Lab4/\.vscode/ipch/74ba51b3c38d1476/mmap_address\.bin
/G5_Lab4/build/
/G5_Lab4/dist/
home/

G5_Lab4/\.vscode/

G5_Lab4/nbproject/private/

G5_Lab4/ICollection/\.directory

G5_Lab4/\.directory

G5_Lab4/classes/\.directory
